html 
    head
        title List Users
    body 
        h1 User Listings
        
        //- p #{userArray}
        ul  
            each entry in userArray 
                li= entry.name
                
